<h4>Accesos Entrada/Salidas </h4>

<table>
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
    </thead>
    <tbody>
       <% @acceso.each do |acces| %>
          <tr>
            <td><%= acces.persona.nombre %></td>
            <td><%= acces.fecha_entrada %></td>
            <td><%= acces.fecha_salida %></td>
          </tr>
        <%end%>
    </tbody>
</table>
  <%= will_paginate @acceso %>
<br>

