
<% if !@datos.exists? %>
    <p> Disculpe el usuario no existe! </p>
<% else %>
     <h2>¡Saludos, que pase un feliz Día!</h2>
    <% @datos.each do |c| %>
        <br>
        <div class="div">
        <p>Nombre: <%= c.nombre %></p>
        <p>apellido: <%= c.apellido %></p>
        <p>cedula: <%= c.cedula %></p>
        <p>fecha ingreso: <%= c.fecha_registro %></p>
    <%end%>
<%end%>
